In [12]:
import pandas as pd

# Snowflake connector libraries
import snowflake.connector as snow
from snowflake.connector.pandas_tools import write_pandas

In [13]:
def create_connection():
   conn = snow.connect(
      user="dbt",
      password="dbtPassword123",
      account="ceymqwx-th41454",
      warehouse="DEMO_WH",
      database="NETFLIX",
      schema="NETFLIX.RAW"
    )
   cursor = conn.cursor()
   print('SQL Connection Created')
   return cursor,conn

In [14]:
def truncate_table():
   cur,conn=create_connection()
   sql_titles = "TRUNCATE TABLE IF EXISTS TITLES_RAW"
   sql_credits = "TRUNCATE TABLE IF EXISTS CREDITS_RAW"
   cur.execute(sql_titles)
   cur.execute(sql_credits)
   print('Tables truncated')

In [15]:
def load_data():
   cur,conn=create_connection()
   titles_df = pd.read_csv("/Users/vishnu/Desktop/DBT Files/DBT Fundamentals Project/credits.csv", sep = ',')
   print("Titles file read")
   credits_df = pd.read_csv("/Users/vishnu/Desktop/DBT Files/DBT Fundamentals Project/netflix_titles.csv", sep = ',')
   print("Credits file read")

   write_pandas(conn, titles_df, "TITLES",auto_create_table=True)
   print('Titles file loaded')
   write_pandas(conn, credits_df, "CREDITS",auto_create_table=True)
   print('Credits file loaded')

   cur = conn.cursor()
   # Close your cursor and your connection.
   cur.close()
   conn.close()

In [16]:
print("Starting Script")
truncate_table()
load_data()

Starting Script

AttributeError: 'AuthByDefault' object has no attribute 'timeout'

In [17]:
titles_df = pd.read_csv("/Users/vishnu/Desktop/DBT Files/DBT Fundamentals Project/netflix_titles.csv", sep = ',')
print("Titles file read")
credits_df = pd.read_csv("/Users/vishnu/Desktop/DBT Files/DBT Fundamentals Project/credits.csv", sep = ',')
print("Credits file read")

Titles file read
Credits file read

In [ ]:
titles_df.info

<bound method DataFrame.info of        person_id         id                name                character  \
0           3748    tm84618      Robert De Niro            Travis Bickle
1          14658    tm84618        Jodie Foster            Iris Steensma
2           7064    tm84618       Albert Brooks                      Tom
3           3739    tm84618       Harvey Keitel  Matthew 'Sport' Higgins
4          48933    tm84618     Cybill Shepherd                    Betsy
...          ...        ...                 ...                      ...
77796     736339  tm1059008    Adelaida Buscato                María Paz
77797     399499  tm1059008  Luz Stella Luengas             Karen Bayona
77798     373198  tm1059008         Inés Prieto                    Fanny
77799     378132  tm1059008        Isabel Gaona                   Cacica
77800    1950416  tm1059008      Julian Gaviria                      NaN

           role
0         ACTOR
1         ACTOR
2         ACTOR
3         ACTOR
4         ACTOR
...         ...
77796     ACTOR
77797     ACTOR
77798     ACTOR
77799     ACTOR
77800  DIRECTOR

[77801 rows x 5 columns]>

In [ ]:
titles_df.head()

   person_id       id             name                character   role
0       3748  tm84618   Robert De Niro            Travis Bickle  ACTOR
1      14658  tm84618     Jodie Foster            Iris Steensma  ACTOR
2       7064  tm84618    Albert Brooks                      Tom  ACTOR
3       3739  tm84618    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR
4      48933  tm84618  Cybill Shepherd                    Betsy  ACTOR

In [18]:
credits_df.head()

   person_id       id            actor           character_role role_played
0       3748  tm84618   Robert De Niro            Travis Bickle       ACTOR
1      14658  tm84618     Jodie Foster            Iris Steensma       ACTOR
2       7064  tm84618    Albert Brooks                      Tom       ACTOR
3       3739  tm84618    Harvey Keitel  Matthew 'Sport' Higgins       ACTOR
4      48933  tm84618  Cybill Shepherd                    Betsy       ACTOR

In [ ]:
credits_df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [19]:
credits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77801 entries, 0 to 77800
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   person_id       77801 non-null  int64
 1   id              77801 non-null  object
 2   actor           77801 non-null  object
 3   character_role  68029 non-null  object
 4   role_played     77801 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.0+ MB